.hover-effect:hover {
    background-color: red; /* Change this to your desired hover background color */
    cursor: pointer;
    /* Add any other styles you want to apply on hover */
}

.glavna{
    background-color: red;
}